<div class="content">
  <div *ngFor="let item of topApps; index as i; ">
    <div class="item">
    <div class="container-1">
      <p class="index">{{i+1}} </p> 
      <img [ngClass]="i%2==0 ? 'odd-image' : 'even-image'" [src]="images[i]" alt="img"/>
    </div>
    <div class="container-2">
      <p class="app-name">{{item?.['im:name']?.label}}</p>
      <p class="category">{{item?.category?.attributes?.label}}</p>
    </div>  
  </div>
  <mat-divider></mat-divider>

  </div>
</div>
<router-outlet></router-outlet>
